<div layout="row" layout-align="center center">
	<div flex="33">
		<md-card>
			<md-card-title>
				<md-card-title-text layout="column" layout-align="center center">
					<span class="md-headline">Entre em sua conta</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-input-container class="md-block" flex-gt-sm>
					<label>E-mail</label>
					<input type="email" name="email" ng-model="user.firstName">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Senha</label>
					<input type="password" name="password" ng-model="user.firstName">
				</md-input-container>
			</md-card-content>
			<md-card-actions layout="column" layout-align="center center">
				<md-button class="md-raised md-primary">Entrar</md-button>
			</md-card-actions>
		</md-card>
	</div>
</div>